:root {
	/* Color variables */
	--primary: #ffb4e6;
	--secondary:#046D1B; 
	/* --secondary:#16602f;  */
	--tertiary:#000;
	--quaternary:#fff;
	--quinary:#9B387A;
	--senary:#FFD7F2;

	/* Large text desktop */
	--large-font-size: 5.5rem;
	--large-font-family:'Anton', sans-serif;
	--large-letter-spacing: 0.5rem;

	/* Large text mobile */
	--large-mob-font-size:;

	/* Body text */
	--body-font-size:;

	/* Small text */
	--small-font-size:;

	/* FINNE FONTS google*/
}