.contact {
	margin: 2rem auto 8rem auto;
	padding: 2rem 5rem;
	width: 80%;
	text-align: center;
	border: 1px solid var(--secondary);	
}

.contact__paragraph {
	margin: 2rem auto;
}

.contact__container {
	border: 1px solid var(--secondary);
	border-radius: 1rem;
}

.contact__form-title {
	margin: 2rem auto;
}

.contact__form-name,
.contact__form-email {
	margin: 1rem auto;
}

.contact__form-name input,
.contact__form-email input {
	width: 20vw;
	height: 2rem;
}

.contact__form-text {
	margin: 2rem auto;
}

.contact__form-text-label {
	font-size: 1.2rem;
}

.contact__form-text input {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 40vw;
	height: 40vh;
	border: none;
	border-radius: 1rem;
}

.contact__form-submit {
	background: var(--secondary);
	margin-bottom: 2rem;
	width: 8rem;
	height: 3rem;
	border: none;
	border-radius: 10rem;
	font-size: 1rem;
	color: var(--quaternary);
	cursor: pointer;
}



