.contact {
	margin: 2rem auto 8rem auto;
	padding: 5rem;
	width: 80%;
	text-align: center;
	border: 1px solid var(--secondary);	
}

.contact__title {
	margin: 1rem auto;
}

.contact__paragraph {
	margin: 1rem auto;
}

.contact__container {
	border: 1px solid var(--secondary);
	border-radius: 1rem;
}

.contact__form-title,
.contact__form-name,
.contact__form-email,
.contact__form-text,
.contact__form-submit {
	margin: 1rem auto;
}

.contact__form-text input {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 40vw;
	height: 40vh;
}



