.events {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin: 1rem auto;
	padding: 0.5rem;
	background-color:var(--primary);
	align-items: center;
	justify-content: center;
}

.events__event {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 1px solid var(--secondary);
	justify-content: space-between;
	width: 90%;
}

.events__img {
	width: 30%;
	/* object-fit: cover; */
	margin: 2rem 0;
	border: 0.4rem solid var(--quaternary);
	box-shadow: 4px 4px 8px var(--quinary);
	justify-content: left;
}

.events__info {
	width: 33%;
	margin: 2rem 4rem;
	text-align: center;
}

.events__date,
.events__name
 {
	margin: 1rem auto;
	padding-bottom: 0.5rem;
	text-align: center;
	justify-content: center;
}

.events__genre {
	margin: 1rem auto;
	padding-bottom: 1rem;
	text-align: center;
	justify-content: center;
}

.events__venue {
	margin: 1rem auto;
	padding-bottom: 1rem;
	text-align: center;
	justify-content: center;
}

.events__tickets {
	width: 20%;
	background-color: var(--secondary);
	padding: 1.6vw;
	color: var(--quaternary);
	margin: 1rem auto;
	border-radius: 10rem;
	border: 1px solid var(--tertiary);
	font-size: 1rem;
	box-shadow: 6px 4px var(--quinary);
	cursor: pointer;
	text-decoration: none;
	justify-content: center;
	text-align: center;
}

.events__tickets:hover {
	box-shadow: 5px 3px var(--quinary);
	transition: ease-in-out 0.3s;
}

.events__tickets:active {
	box-shadow: 1px 1px var(--quinary);
}

@media screen and (max-width: 768px) {
	.events__img {
		width: 11rem;
		height: 8rem;
		object-fit: cover;
		border: 3px solid var(--quaternary);
		margin: 0;
	}

	.events__info {
		margin: 0.5rem 2rem;
	}

	.events__tickets {
		padding: 1rem;
		width: 30%;
	}

	.events__lastline {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.events__genre,
	.events__venue {
		margin: 0.5rem auto;
	}
}

@media screen and (max-width: 550px) {
	.events {
		margin: 0;
		padding: 0;
	}

	.events__event {
		display: flex;
		flex-direction: column;
		margin: 1rem auto;
		padding: 0;
	}

	.events__info {
		width: 90%;
		margin: 1rem 2rem;
	}

	.events__img {
		width: 70%;
		max-width: 14rem;
		object-position: top;
		box-shadow: 2px 2px 3px var(--quinary);
		margin: 1rem 2rem;
	}
	.events__date,
	.events__name,
	.events__genre,
	.events__venue {
		margin: 0.2rem auto;
	}

	.events__tickets {
		width: 50%;
		padding: 1.3rem;
		box-shadow: 4px 2px var(--quinary);
		margin: 1rem auto 3rem auto;
		justify-content: center;

	}
}