.events {
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: 95vw; /* for testing only */
	margin: 2rem auto;
	/* justify-content: center; */
	background-color:var(--senary);
}

.events__event {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}