.events {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin: 1rem auto;
	padding: 0.5rem;
	background-color:var(--primary);
	align-items: center;
	justify-content: center;
}

.events__event {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 1px solid var(--secondary);
	justify-content: space-between;
	width: 90%;
}

.events__img {
	/* width: 280px; */
	width: 30%;
	margin: 2rem 0;
	border: 0.4rem solid var(--quaternary);
	box-shadow: 4px 4px 8px var(--quinary);
}



.events__info {
	margin: 2rem;

}

.events__date,
.events__name
 {
	margin: 1rem auto;
	padding-bottom: 0.5rem;
	text-align: center;
	justify-content: center;
}

.events__genre {
	margin: 1rem auto;
	padding-bottom: 1rem;
	text-align: center;
	justify-content: center;
}

.events__venue {
	margin: 1rem auto;
	padding-bottom: 1rem;
	text-align: center;
	justify-content: center;
}


.events__tickets {
	background-color: var(--secondary);
	padding: 1.6vw 8vw;
	color: var(--quaternary);
	margin: 1rem 0;
	border-radius: 10rem;
	border: 1px solid var(--tertiary);
	font-size: 1rem;
	box-shadow: 6px 4px var(--quinary);
	cursor: pointer;
}


@media screen and (max-width: 768px) {
	.events__img {
		width: 7rem;
		height: 7rem;
		object-fit: cover;
		border: 3px solid var(--quaternary);
		margin: 0;
	}

	.events__info {
		margin: 0.5rem auto;
	}

	.events__tickets {
		padding: 0.8rem 1.8rem;
	}

	.events__lastline {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.events__genre,
	.events__venue {
		margin: 0.5rem auto;
	}
}

/* @media only screen and (min-width: 375px) and (max-width: 870px) */

@media screen and (max-width: 500px) {
	.events {
		margin: 0;
		padding: 0;
	}

	.events__event {
		margin: 0;
		padding: 0;
	}


	.events__img {
		width: 20vw;
		height: 20vw;
	}

	.events__tickets {
		padding: 0.6rem 0.8rem;
	}
}