.filter-buttons {
	display: flex;
	flex-direction: row;
	margin: 1rem auto 2rem auto;
	padding-top: 1rem;
	padding-bottom: 0.3rem;
	box-shadow: 0 1.6rem 2rem var(--primary);
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 20;
	background-color: var(--primary);
}

.filter-buttons__sort {
	margin: 1.5rem;
	text-align: center;
	white-space: nowrap;
	
}

.filter-buttons__labels {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: center;
	align-items: center;
}

.filter-buttons__btn {
	margin: 0.3rem 1.5rem;
	padding: 1vw 4.5vw;
	background-color: var(--primary);
	border-radius: 3rem;
	border: 1.5px solid var(--tertiary);
	box-shadow: 6px 4px var(--secondary);
	cursor: pointer;
	font-size: 1rem;
}

.filter-buttons__btn:hover {
	background: var(--senary);
	transition: ease-in-out 0.3s;
	box-shadow: 5px 3px var(--secondary);
}

.filter-buttons__btn:active {
	box-shadow: 1px 1px var(--secondary);
}

.filter-buttons-mobile__sort {
	margin: 0 auto;
	padding: 0.5rem;
	cursor: pointer;
	border: 2px solid var(--secondary);
	display: none;

}

.filter-buttons-mobile__labels {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid var(--secondary);
	border-top: none;
	display: none;
}

.filter-buttons-mobile__btn {
	display: none; 
	background-color: var(--primary);
	padding: 1rem;
	cursor: pointer;
	width: 100%;
	border: 1px solid var(--primary);
}

.filter-buttons-mobile__btn:not(:last-of-type) {
	border-bottom: 1px solid var(--secondary);
}

.filter-buttons-mobile__btn:active {
	background-color: var(--senary);
}

@media screen and (max-width: 768px) {
	.filter-buttons {
		display: none;
	}

	.filter-buttons-mobile__sort,
	.filter-buttons-mobile__labels,
	.filter-buttons-mobile__btn {
		display: block;
	}

	.filter-buttons-mobile {
		display: block;
		margin: 2rem;
		padding: 0.5rem 1rem;
		text-align: center;
	}
}