nav {
	display: block;
	margin: 1.5rem;
	height: 360px;
	background-color: var(--secondary);
}

.nav__h1 {
	display: block;
	padding: 5rem;
	text-align: center;
	color: var(--quaternary);
	font-family: 'IBM Plex Sans Condensed'; /* Finne font fam, lage variabler*/

}

.nav__ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 100%;
	justify-content: space-around;	
	color: var(--quaternary);
}





