header {
	display: flex;
	justify-content: center;
	margin: 1.5rem auto;
	width: 96%;
	height: 360px;
	background-color: var(--secondary);
	box-shadow: 0 8px 10px rgba(155, 56, 122, 0.5);
}

.navbar__h1 {
	display: block;
	padding: 6rem;
	text-align: center;
	color: var(--quaternary);
	font-family: 'IBM Plex Sans Condensed'; /* Finne font fam, lage variabler*/
	font-size: 3.5rem;
}

.navbar__links {
	display: flex;
	width: 100vw;
	justify-content: space-between;
	margin-left: 2.5rem;
	padding: 3rem;
}

.navbar__ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	color: var(--quaternary);
	width: 8rem;
	justify-content: space-between;
}

.navbar__ul a {
	text-decoration: none;
	color: var(--quaternary);
}

.navbar__search {
	margin-right: 2.5rem;
}







