header {
	display: flex;
	justify-content: center;
	margin: 1rem auto;
	width: 97%;
	background-color: var(--secondary);
	box-shadow: 0 8px 10px rgba(155, 56, 122, 0.5);	
}

.navbar__h1 {
	padding: 3rem 1rem 1rem 1rem;
	text-align: center;
	font-size: var(--large-font-size);
	font-family: var(--large-font-family);
	letter-spacing: var(--large-letter-spacing);
	text-shadow: 4px 4px var(--tertiary);
}



.navbar__h1 a {
	text-decoration: none;
	color: var(--quaternary);
	cursor: pointer;
}

.navbar__h3 {
	width: 90vw;
	text-align: center;
	color: var(--quaternary);
	text-transform: uppercase;
	margin: 0 auto 2rem auto;
}

.navbar__h3 em {
	color: var(--primary);
	text-shadow: 0 1px var(--tertiary);
}

.navbar__links {
	display: flex;
	margin: 0 auto;
	width: 100vw;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4rem;
}

.navbar__menu {
	display: flex;
	list-style: none;
	color: var(--quaternary);
	width: 14rem;
	justify-content: space-between;
}

.navbar__menu a {
	text-decoration: none;
	color: var(--quaternary);
	text-shadow: 0 2px var(--tertiary);
}

#navbar__search-input {
	border-radius: 1rem;
	border: none;
	height: 1.8rem;
	width: 10rem;
	text-align: center;
}


/* Mobile menu */

.navbar__icons-mob {
	display: none;
	justify-content: space-between;
	width: 96vw;
	margin: 0 auto;
}

.navbar__icons-mob-hamburger {
	background: none;
	border: none;
	cursor: pointer;
	margin: 1rem;
}

.navbar__icons-mob-search {
	background: none;
	border: none;
	margin: 0.5rem;
	cursor: pointer;
	margin: 1rem;
}

.navbar__links-mob {
	position: relative;
	display: none;
}

.navbar__links-close {
	background: none;
	border: none;
}

.navbar__links-mob a {
	text-decoration: none;
	color: var(--quaternary);
}

.navbar__links-mob-menu {
	display: none
}

.navbar__links-mob-menu-item {
	list-style: none;
}


@media screen and (max-width: 768px) {

	.navbar__h1 {
		font-size: 15vw;
	}

	.navbar__links {
		display: none;
	}

	.navbar__links-mob {
		display: block;
	}

	.navbar__icons-mob {
		display: flex;
	}
}
